<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.evannagle.alfred.autojump</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>AF4DD219-AB47-44CD-AC57-D5A79944E659</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8DAFB2C-B46A-40C9-8FC6-D465B69A1A12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Evan Nagle</string>
	<key>description</key>
	<string>Use autojump to open a folder.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jump!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>j</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>src/autojump-complete.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/autojump-complete.sh</string>
				<key>subtext</key>
				<string>Find and open the file</string>
				<key>title</key>
				<string>Autojump</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AF4DD219-AB47-44CD-AC57-D5A79944E659</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D8DAFB2C-B46A-40C9-8FC6-D465B69A1A12</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow allows you to use Alfred to quickly navigate to and open folders and files using autojump command.</string>
	<key>uidata</key>
	<dict>
		<key>AF4DD219-AB47-44CD-AC57-D5A79944E659</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>D8DAFB2C-B46A-40C9-8FC6-D465B69A1A12</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>AUTOJUMP_BIN</key>
		<string>/opt/homebrew/bin/autojump</string>
		<key>AUTOJUMP_SH</key>
		<string>/opt/homebrew/etc/profile.d/autojump.sh</string>
		<key>NODE_BIN</key>
		<string>node</string>
	</dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://www.mantle.co</string>
</dict>
</plist>
